@charset "utf-8";

//定义圆角大小
.border-radius(@radius){
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	-ms-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}
//定义动画
.animation(@animation-name,@animation-duration,@animation-timing-function,
           @animation-delay,@animation-iteration-count,@animation-direction){
   animation: @arguments;
   /* Firefox: */
   -moz-animation: @arguments;
   /* Safari 和 Chrome: */
   -webkit-animation: @arguments;
   /* Opera: */
   -o-animation: @arguments;
}
//定义过渡
.transition (@prop: all, @time: 1s, @ease: linear) {
    -webkit-transition: @prop @time @ease;
    -moz-transition: @prop @time @ease;
    -o-transition: @prop @time @ease;
    -ms-transition: @prop @time @ease;
    transition: @prop @time @ease;
}
//垂直居中样式
.middle-center {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}


//通用
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu
{margin:0;padding:0;}

//欢迎页背景图
#bg-1,#bg-2 {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
	.transition();
}
//首页背景图
#bg-2 {
	z-index: -2;
}

//页面容器
#container {
}

//logo
@logo-img-width: 200px;
@logo-position-top: 320px;
.logo {
	.middle-center;
	top: @logo-position-top;
	width: 50%;
	margin: 0 auto;
	text-align: center;
	.transition(all,2s,ease-in-out);
	.logo-img {
		position: relative;
		display: block;
		width: @logo-img-width;
		height: @logo-img-width;
		margin: 0 auto;
		.transition(all,2s,ease-in-out);
	}
	.logo-font {
		position: relative;
		left: 0;
		.transition();
	}
}

//调整scale的transform样式
.scale-transform(@x,@y) {
	-webkit-transform: translate(-50%,-50%) scale(@x,@y);
	-ms-transform: translate(-50%,-50%) scale(@x,@y);
	-o-transform: translate(-50%,-50%) scale(@x,@y);
	transform: translate(-50%,-50%) scale(@x,@y);
}

//欢迎按钮
@welcome-circle-top: 620px;
@welcome-circle-width: 80px;
@small-circle-width: 20px;
.welcome-circle {
	.middle-center;
	top: @welcome-circle-top;
	width: @welcome-circle-width;
	height: @welcome-circle-width;
	border: #fff solid 2px;
	cursor: pointer;
	.border-radius(@welcome-circle-width);
	.animation(ripple,1s,linear,0s,infinite,normal);
	.transition(all,2s,ease-in-out);
	& img {
		.transition(all,0.8s,ease);
		opacity: 0;
		.middle-center;
		.scale-transform(0.1,0.1);
	}
	& .small-circle {
		width: @small-circle-width;
		height: @small-circle-width;
		border: #fff solid 2px;
		background-color: #fff;
		.transition(all,0.8s,ease);
		opacity: 1;
		.middle-center;
		.border-radius(@small-circle-width);
		.scale-transform(1,1);
	}
	&:hover img {
		opacity: 1;
		.scale-transform(0.85,0.85);
	}
	&:hover .small-circle {
		opacity: 0;
		.scale-transform(0.1,0.1);
	}
}

@welcome-circle-change-top: 100px;
//logo进入首页，变动
.logo-left-small {
	left: 300px;
	.scale-transform(0.8,0.8);
}
//logo-font进入首页，变动
.logo-font-change {
	left: 350px!important;
	top: -20px;
	.scale-transform(1.5,1.5);
}
//welcome-circle进入首页，变动
.welcome-circle-change {
	left: 95%;
	top: @welcome-circle-change-top;
}
//welcome-circle-img进入首页，变动,消除hover的样式
.welcome-circle-img-change {
	opacity: 0!important;
}
//small-circle进入首页，变动，消除hover的样式
.small-circle-change {
	opacity: 1!important;
	.scale-transform(1,1)!important;
}

@nav-circle-width: 15px;//
//右上角菜单
.nav-line {
	position: absolute;
	top:  50px;
	right: 5%;
	width: 400px;
	height: 100px;
	background: url("../img/line.png") 50% 50% repeat-x;
	opacity: 0;
	.transition(all,1s,linear);
	& .nav-item {
		position: relative;
		width: 100px;
		height: 100px;
		cursor: pointer;
		float: left;
		& img {
			position: absolute;
			left: -10px;
			top: 9px;
			height: 18px;
		}
		& .nav-hover {
			left: -5px;
			top: 61px;
			height: 8px;
			width: 24px;
			opacity: 0;
			.transition(all,0.2s,linear);
		}
	}
	& .nav-index {
		left: 5%;
	}
	& .nav-timeline {
		left: 20%;
	}
	& .nav-contact {
		left: 35%;
	}
	& .nav-circle {
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		.border-radius(@nav-circle-width);
		width: @nav-circle-width;
		height: @nav-circle-width;
		background-color: #fff;
	}
	& .nav-index:hover>img{
		opacity: 1;
	}
	& .nav-timeline:hover>img{
		opacity: 1;
	}
	& .nav-contact:hover>img{
		opacity: 1;
	}
}
//进入首页后的右上角菜单
.nav-line-change {
	width: 600px;
	opacity: 1;
}

//左下角微博分享和加入我们
.share-join {
	position: absolute;
	left: 100px;
	bottom: 0px;
	width: 300px;
	height: 80px;
	& img {
		display: inline-block;
		margin-right: 15px;
		cursor: pointer;
	}
	opacity: 0;
	.transition;
}
//进入首页后的左下角
.share-join-show {
	opacity: 1;
}

/*ripple动画*/
@keyframes ripple
{
  0% {
    box-shadow: 0 0 0 0 rgba(255,255,255, 0.1), 0 0 0 10px rgba(255,255,255, 0.1), 0 0 0 20px rgba(255,255,255, 0.1), 0 0 0 30px rgba(255,255,255, 0.1);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(255,255,255, 0.1), 0 0 0 20px rgba(255,255,255, 0.1), 0 0 0 30px rgba(255,255,255, 0.1), 0 0 0 40px rgba(255,255,255, 0);
  }
}
@-moz-keyframes ripple
{
  0% {
    box-shadow: 0 0 0 0 rgba(255,255,255, 0.1), 0 0 0 10px rgba(255,255,255, 0.1), 0 0 0 20px rgba(255,255,255, 0.1), 0 0 0 30px rgba(255,255,255, 0.1);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(255,255,255, 0.1), 0 0 0 20px rgba(255,255,255, 0.1), 0 0 0 30px rgba(255,255,255, 0.1), 0 0 0 40px rgba(255,255,255, 0);
  }
}
@-webkit-keyframes ripple
{
  0% {
    box-shadow: 0 0 0 0 rgba(255,255,255, 0.1), 0 0 0 10px rgba(255,255,255, 0.1), 0 0 0 20px rgba(255,255,255, 0.1), 0 0 0 30px rgba(255,255,255, 0.1);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(255,255,255, 0.1), 0 0 0 20px rgba(255,255,255, 0.1), 0 0 0 30px rgba(255,255,255, 0.1), 0 0 0 40px rgba(255,255,255, 0);
  }
}
@-o-keyframes ripple
{
  0% {
    box-shadow: 0 0 0 0 rgba(255,255,255, 0.1), 0 0 0 10px rgba(255,255,255, 0.1), 0 0 0 20px rgba(255,255,255, 0.1), 0 0 0 30px rgba(255,255,255, 0.1);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(255,255,255, 0.1), 0 0 0 20px rgba(255,255,255, 0.1), 0 0 0 30px rgba(255,255,255, 0.1), 0 0 0 40px rgba(255,255,255, 0);
  }
}



